.logo {
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--text-dark);
}
nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  z-index: 9;
}

.nav_header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-blue);
}

.nav_logo .logo {
  font-size: 1.5rem;
  color: var(--white);
}

.nav_links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-blue);
  transition: 0.5s;
  z-index: -1;
}

.nav_links.open {
  transform: translateY(100%);
}
.nav_links a {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  white-space: nowrap;
}
.nav_links a:hover {
  color: var(--text-dark);
}
.nav_btns {
  display: none;
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav_header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav_logo .logo {
    color: var(--text-dark);
  }

  .nav_menu_btn {
    display: none;
  }

  .nav_links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav_links a {
    color: var(--text-dark);
  }

  .nav_links a:hover {
    color: var(--primary-blue);
  }

  .nav_links li:last-child {
    display: none;
  }

  .nav_btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .nav_btns button {
    padding: 0.75rem 2rem;
    background-color: var(--text-dark);
  }
}
