.swiper {
  margin-top: 4rem;
  width: 100%;
}

.swiper-slide {
  min-width: 375px;
}

.client_card {
  padding: 5px;
  background-color: var(--extra-ligth);
  border-radius: 1rem;
  transform: 0.3s;
}
.client_card:hover {
  background-color: var(--primary-blue);
}
.client_content {
  padding: 1rem;
  background-color: var(--white);
  border-radius: calc(1rem - 5px);
}

.client_rating {
  margin-bottom: 1rem;
  color: var(--primary-blue);
}

.client_content p {
  color: var(--text-dark);
}
.client_details {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.client_details img {
  max-width: 50px;
  border-radius: 100%;
}

.client_details h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}
.client_card:hover h4 {
 color: var(--white);
}

.client_details h5 {
    font-size: 1rem;
    font-weight: 500;
    color: var( --text-ligth);
    transition: 0.3s;
}
.client_card:hover h5 {
 color: var(--extra-ligth);
}